body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
nav > a {
  background-color: pink;
  margin-left: 10px;
  margin-right: 1opx;
}
figcaption{
  font-size: xx-small;
  text-align: center;
}
#featured-property p {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
#details div {
float: left;
background-color: red;
text-align: center;
width: 25%;
}
